<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="content/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/bootstrap.min.js" ></script>

<script src="app/module/app.module.js"></script>
<script src="app/service/product.service.js"></script>
<script src="app/service/image.service.js"></script>
<script src="app/controller/product.controller.js"></script>

<title>Avenue Project</title>
</head>
<body ng-app="app" ng-controller="productcontroller">	
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container" style="margin-top:20px;">
        <button type="button" class="btn btn-primary" ng-click="listall();">Product List</button><br/><br/>
		<button type="button" class="btn btn-secondary" ng-click="listallrelated()">Product/related list</button><br/><br/>
		
		<input type="text" ng-model="productid"/>
		<button type="button" class="btn btn-success" ng-click="listproductbyid(productid)">Get Product By Id </button><label> {{idproduct}} - {{product}} - {{description}}</label><br/><br/>
		
		<input type="text" ng-model="id"/>
		<button type="button" class="btn btn-danger" ng-click="listproductrelatedbyid(id)" >Get Product/Related By Id</button><br/><br/>
		
		<input type="text" ng-model="prodid"/>
		<button type="button" class="btn btn-warning" ng-click="childsbyproductid(prodid)">Childs by Product Id</button><br/><br/>
		
		<input type="text" ng-model="prodimageid"/>
		<button type="button" class="btn btn-info" ng-click="imagesbyproductid(prodimageid)">Images by product id</button>	<br/>	<br/>
		<hr>
		<div ng-if="showlistall">
			<label>List All Table</label>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
						<th>Produto Relacionado</th>
					</tr>
				</thead>
				<tbody>
				 	<tr ng-repeat="item in collection">
				 		<td>{{item[0]}}</td>
				 		<td>{{item[2]}}</td>
				 		<td>{{item[1]}}</td>
				 		<td>{{item[3]}}</td>
				 	</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="showlistChild">
			<label>List Childs by product ide</label>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
						<th>Produto Relacionado</th>
					</tr>
				</thead>
				<tbody>
				 	<tr ng-repeat="item in collection">
				 		<td>{{item[0]}}</td>
				 		<td>{{item[2]}}</td>
				 		<td>{{item[1]}}</td>
				 		<td>{{item[3]}}</td>
				 	</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="showImage">
			<label>Image List By Product Id</label>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Type</th>
						<th>product_id</th>
					</tr>
				</thead>
				<tbody>
				 	<tr ng-repeat="item in imagecollection">
				 		<td>{{item.id}}</td>
				 		<td>{{item.type}}</td>
				 		<td>{{item.product_id}}</td>
				 	</tr>
				</tbody>
			</table>
		</div>		
    </div>    	    
</body>
</html>